.cpd_supervisors td {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}
.cpd_supervisors td span {
	display: block;
}
.cpd_supervisors input[type=checkbox] {
	margin-right: 5px;
}
.cpd_participants td {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}
.cpd_participants td span {
	display: block;
}
.cpd_participants input[type=checkbox] {
	margin-right: 5px;
}

:target {
	background-color: #F4F5D5;
}

.latest_posts_histogram {
	width: 100%;
}
.latest_posts_histogram table {
	width: 100%;
}

.latest_posts_histogram td {
	vertical-align: top;
	margin: 1px;
}
.latest_posts_histogram_bar {
	background-color: lightblue;
	cursor: pointer;
	text-align: right;
	padding: 2px;
}
.user_posts_barchart {
	width: 100%;
}
.user_posts_barchart table {
	width: 100%;
}
.user_posts_barchart table td {
	vertical-align: top;
	margin: 1px;
}
.user_posts_barchart_bar {
	background-color: lightblue;
	cursor: pointer;
	text-align: right;
	padding: 2px;
}


/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

 /* Use FontAwesome */
 .dashicons-before.fa:before {
 	font-family: FontAwesome !important;
 }

 /* Hide the second widget box on the dashboard */
 .toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container #side-sortables,
 .toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container #side-sortables
 {
 	display: none;
 }

 .toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .meta-box-sortables,
 .toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .meta-box-sortables
 {
 	width: 99% !important;
 	overflow: hidden;
 }

.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container,
.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container
{
 	width: 100% !important;
}

.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .tax-list .dashicons-before:before,
.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .tax-list .dashicons-before:before {
	color: #aaa;
}

.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside,
.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside {
	padding-bottom: 50px;
}

.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button,
.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button {
	position: absolute;
	bottom: -13px;
	left:0px;
	border-top: 1px solid #eee;
	width:100%;
	padding-top: 11px;
	padding-bottom: 11px;
}

.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button .button,
.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button .button {
	margin-left: 11px;
	margin-right: 11px;
}

.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox,
.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox {
	position: relative;
}

.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox,
.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside,
.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox,
.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside {
	transition: all 0.2s ease-in-out;
}

@media (min-width: 800px) {
	.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox,
	.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox {
		margin-left: 0.5%;
		margin-right: 0.5%;
		width: 31.33%;
		float:left; 
	}

	.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:first-child,
	.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+1),
	.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:first-child,
	.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+1) {
		margin-left: 0px;
		clear: left;
	}

	.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:last-child,
	.toplevel_page_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+0),
	.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:last-child,
	.toplevel_page_subscriber_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+0) {
		margin-right: 0px;
		clear:right;
	}
}

div.updated.taxonomies-notice,
div.updated.view-notice {
	border-left: 4px solid #aaa !important;
	overflow: hidden;
	padding-bottom: 11px;
	background-color: #f9f9f9;
}

div.updated.taxonomies-notice .tax-title,
div.updated.view-notice .view-title  {
	float:left;
	margin:0px;
	padding: 0px;
	padding-right: 11px;
	padding-top: 15px;
	color: #666;
	font-size: 14px;
}

div.updated.taxonomies-notice li,
div.updated.view-notice li {
	float: left;
	padding-right: 11px;
}

div.updated.taxonomies-notice .dashicons-before:before,
div.updated.view-notice .dashicons-before:before {
	color: #aaa;
}

.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container #side-sortables, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container #side-sortables {
    display: none;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .meta-box-sortables, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .meta-box-sortables {
    width: 99%!important;
    overflow: hidden;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container {
    width: 100%!important;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .tax-list .dashicons-before:before, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .tax-list .dashicons-before:before {
    color: #aaa;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside {
    padding-bottom: 50px;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button {
    position: absolute;
    bottom: -13px;
    left: 0;
    border-top: 1px solid #eee;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button .button, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button .button {
    margin-left: 11px;
    margin-right: 11px;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox {
    position: relative;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox, .toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside {
    transition: all .2s ease-in-out;
}
@media (min-width:800px) {
    .toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox {
    margin-left: .5%;
    margin-right: .5%;
    width: 31.33%;
    float: left;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:first-child, .toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+1), .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:first-child, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
}
.toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:last-child, .toplevel_page_network_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+0), .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:last-child, .toplevel_page_participant_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+0) {
    margin-right: 0;
    clear: right;
}
}.dashicons-before.fa:before {
    font-family: FontAwesome!important;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container #side-sortables {
    display: none;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .meta-box-sortables {
    width: 99%!important;
    overflow: hidden;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container {
    width: 100%!important;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .tax-list .dashicons-before:before {
    color: #aaa;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside {
    padding-bottom: 50px;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button {
    position: absolute;
    bottom: -13px;
    left: 0;
    border-top: 1px solid #eee;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .footer-button .button {
    margin-left: 11px;
    margin-right: 11px;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox {
    position: relative;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox, .toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .inside {
    transition: all .2s ease-in-out;
}
@media (min-width:800px) {
    .toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox {
    margin-left: .5%;
    margin-right: .5%;
    width: 31.33%;
    float: left;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:first-child, .toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+1) {
    margin-left: 0;
    clear: left;
}
.toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:last-child, .toplevel_page_supervisor_dashboard #dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox:nth-child(3n+0) {
    margin-right: 0;
    clear: right;
}
}div.updated.taxonomies-notice, div.updated.view-notice {
    border-left: 4px solid #aaa!important;
    overflow: hidden;
    padding-bottom: 11px;
    background-color: #f9f9f9;
}
div.updated.taxonomies-notice .tax-title, div.updated.view-notice .view-title {
    float: left;
    margin: 0;
    padding: 15px 11px 0 0;
    color: #666;
    font-size: 14px;
}
div.updated.taxonomies-notice li, div.updated.view-notice li {
    float: left;
    padding-right: 11px;
}
div.updated.taxonomies-notice .dashicons-before:before, div.updated.view-notice .dashicons-before:before {
    color: #aaa;
}