/* Use FontAwesome */
.dashicons-before.fa:before {
    font-family: FontAwesome !important;
}
#dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .tax-list .dashicons-before:before,
#dashboard-widgets-wrap #dashboard-widgets .postbox-container .postbox .tax-list .dashicons-before:before,
.dashicons-before.muted:before {
    color: #aaa;
}
div.updated.taxonomies-notice,
div.updated.view-notice {
    border-left: 4px solid #aaa !important;
    overflow: hidden;
    padding-bottom: 11px;
    background-color: #f9f9f9;
}
div.updated.taxonomies-notice .tax-title,
div.updated.view-notice .view-title {
    float: left;
    margin: 0px;
    padding: 0px;
    padding-right: 11px;
    padding-top: 15px;
    color: #666;
    font-size: 14px;
}
div.updated.taxonomies-notice li,
div.updated.view-notice li {
    float: left;
    padding-right: 11px;
}
div.updated.taxonomies-notice .dashicons-before:before,
div.updated.view-notice .dashicons-before:before {
    color: #aaa;
}
.cpd_supervisors td {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}
.cpd_supervisors td span {
    display: block;
}
.cpd_supervisors input[type=checkbox] {
    margin-right: 5px;
}
.cpd_participants td {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}
.cpd_participants td span {
    display: block;
}
.cpd_participants input[type=checkbox] {
    margin-right: 5px;
}
:target {
    background-color: #F4F5D5;
}
.latest_posts_histogram {
    width: 100%;
}
.latest_posts_histogram table {
    width: 100%;
}
.latest_posts_histogram td {
    vertical-align: top;
    margin: 1px;
}
.latest_posts_histogram_bar {
    background-color: lightblue;
    cursor: pointer;
    text-align: right;
    padding: 2px;
}
.user_posts_barchart {
    width: 100%;
}
.user_posts_barchart table {
    width: 100%;
}
.user_posts_barchart table td {
    vertical-align: top;
    margin: 1px;
}
.user_posts_barchart_bar {
    background-color: lightblue;
    cursor: pointer;
    text-align: right;
    padding: 2px;
}
#cpd_dashboard_widget_user_development_categories table,
#cpd_dashboard_widget_user_competency_categories table,
#cpd_dashboard_widget_user_posts table,
#cpd_dashboard_widget_latest_posts table,
#cpd_admin_dashboard_widget table {
    width: 100%;
    border-collapse: collapse;
}
#cpd_admin_dashboard_widget table th,
#cpd_admin_dashboard_widget table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}
#cpd_dashboard_widget_user_development_categories table th,
#cpd_dashboard_widget_user_development_categories table td,
#cpd_dashboard_widget_user_competency_categories table th,
#cpd_dashboard_widget_user_competency_categories table td,
#cpd_dashboard_widget_user_posts table th,
#cpd_dashboard_widget_user_posts table td,
#cpd_dashboard_widget_latest_posts table th,
#cpd_dashboard_widget_latest_posts table td {
    text-align: left;
}
#cpd_dashboard_widget_user_development_categories table td,
#cpd_dashboard_widget_user_competency_categories table td,
#cpd_dashboard_widget_user_posts table td,
#cpd_dashboard_widget_latest_posts table td {
    width: 75%;
}
#cpd_dashboard_widget_user_development_categories table td ul,
#cpd_dashboard_widget_user_competency_categories table td ul,
#cpd_dashboard_widget_user_posts table td ul,
#cpd_dashboard_widget_latest_posts table td ul {
    display: none;
}
.cpd-settings table table {
    width: 100%;
    border-collapse: collapse;
}
.cpd-settings table table tr {
    background-color: #eaeaea;
}
.cpd-settings table table td,
.cpd-settings table table th {
    border: 1px solid #ccc;
    padding: 10px;
}
.cpd-settings table table td.center,
.cpd-settings table table th.center {
    text-align: center;
}
.cpd-settings table table td.left,
.cpd-settings table table th.left {
    text-align: left;
}
.cpd-settings table table td input.disabled,
.cpd-settings table table th input.disabled {
    background-color: #eee;
    color: #ddd;
}
.cpd_options .journals li.disabled {
    color: #aaa
}
.cpd_options .journals li.disabled label,
.cpd_options .journals li.disabled input {
    cursor: default
}
.journal-wrapper.disabled h1,
.journal-wrapper.disabled h2,
.journal-wrapper.disabled h3,
.journal-wrapper.disabled h4,
.journal-wrapper.disabled h5,
.journal-wrapper.disabled h6,
.journal-wrapper.disabled p {
    color: #aaa
}

.alert {
    border: 1px solid #efefef;
    border-left: 5px solid #efefef;
    padding-left: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.alert.alert-success {
    border-left: 5px solid #7AD03A;
}

.alert.alert-warning {
    border-left: 5px solid orange;
}

#_cpd_criteria_title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

#_cpd_criteria_title .field-title {
    margin-top: 0px !important;
}

#_cpd_criteria_title .field-title h2 {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 13px;
}

#_cpd_criteria_evidence > .field-title label {
    font-size: 13px;
}

#_cpd_criteria_evidence > .field-item {
    background-color: #eee;
}

.cmb_metabox .CMB_Group_Field > .field-item {
    padding: 0px 10px 0px;
    margin-bottom: 16px;
    border: 1px solid #DDD;
    background: #FAFAFA none repeat scroll 0% 0%;
    position: relative;
}
